
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1{
   color: #000;
}

/*Globales*/

a{
    text-decoration: none;    
    color: #000;
}

/*Header y navegacion*/
.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}
.nombre-sitio span{
    color: #037bc0;
}

.navegacion{
   
    padding: 20px 0;
    /*Se habilita el display felx*/
    display: flex;/*Por defecto es row*/
    justify-content: space-between ;
    
    
}

.contenedor-navegacion{

    border-top: solid 1px #e1e1e1;

}

.contenedor{
    /*Para centrar el contenido del navegador*/
    max-width: 1200px;
    margin: 0 auto;

}


.pie-pagina p {
    font-weight: bold;
    font-family: fantasy;
}

/*Box model*/
.sobre-nosotros
{
    background-color: red;
    /*El ancho*/
    width: 200px;
    /*El relleno del model para que se tenga una separacion 
    padding agrega en todos los lados
    */
    padding:25px;
    margin-top: 100px;
    box-sizing: border-box;

}

/*Box model

    Cada elemento tiene un disply por default

    Display block: se colocara abajo del otro sin importar su tamaño

    Display in line: se colocan en linea vertical no se le peude aplicar whitd y paddi

    Display in line block :
*/

/*
Agregando una img con css
*/
.hero{
    background-image: url(../images/principal.jpg);
    height: 550px;
    /*Usamos background size cover para que la imagen aparezca en todo el html*/
    background-size: cover;
    background-repeat: no-repeat;


}




