/*Globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Raleway", sans-serif;
    line-height: 2;
}

h1,
h2,
h3 {
    color: #000;
    font-family: "Playfair Display", serif;
    margin: 0 0  5rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    /*Para que la imagen se expanda en el div del contenedor*/
    max-width: 100%;
    display: block;
}



/*Header y navegacion*/
.nombre-sitio {
    margin-top: 5rem;
    margin-bottom: 5rem ;
    text-align: center;
    font-weight: bold;
    
}

.nombre-sitio span {
    color: #037bc0;
}

.navegacion {

    padding: 2rem 0;
    /*Se habilita el display felx*/
    display: flex;
    /*Por defecto es row*/
    justify-content: space-between;


}

.contenedor-navegacion {

    border-top: solid .1rem #e1e1e1;

}

.contenedor {
    /*Para centrar el contenido del navegador*/
    max-width: 120rem;
    margin: 0 auto;

}
/* Utilidades */
.text-center{
    text-align: center;
}


/*Box model

    Cada elemento tiene un disply por default

    Display block: se colocara abajo del otro sin importar su tamaño

    Display in line: se colocan en linea vertical no se le peude aplicar whitd y paddi

    Display in line block :
*/

/*
Agregando una img con css
*/
.hero {
    background-image: url(../images/principal.jpg);
    height: 55rem;
    /*Usamos background size cover para que la imagen aparezca en todo el html*/
    background-size: cover;
    background-repeat: no-repeat;
    /*Para posicionar una imagen*/
    background-position: center center; 
    

}

/*Categorias*/

.categorias h2, h3   {
    padding-top: 5rem;
    text-align: center;
}

.listado-categorias {
    display: grid;
    /*Se recominda usar fr que es como una fraccion*/
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}


.categoria a {
    text-align: center;
    display: block; 
    font-size: 1.5rem;
    padding: 2rem;
    
}

/*hover para el posicionamiento y cambie de color*/
.categoria a:hover {
    background-color: #037bc0;
    color: white;
    border-bottom-right-radius: 4rem;
}

/*Sobre nosotros*/
.sobre-nosotros{
    /*Para poner la imagen y el texto **/
    background-image: linear-gradient(to right,transparent 50%,  #037bc0 50%, #037bc0 100%  ),url(../images/nosotros.jpg);
    padding: 10rem 0;  
    background-repeat: no-repeat;
    background-position: left center;
    
}      

.sobre-nosotros-grid{
    /* Con Grid */
        /* display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-gap: 8rem; */

        /* Flex box */
        display: flex;
        justify-content: flex-end;
        

}

.sobre-nosotros-texto{
    /* Con grid */
    /*Para posicionar el hijo en la columna*/
    /* grid-column: 2 /3; 
    color: white; */

    /* Flex box */
    flex-basis: 45%;  /*Ancho del elemento*/
    color: white;

}

.sobre-nosotros-texto h2{
    /* Con grid */
    /* color: white    ;*/

    /* Flex box */

    color: white;
} 

/*Productos*/
.contenido-principal{
    padding-top: 5rem;
    
}

.producto{
    background-color: #037bc0;
}

.texto-producto h3{
    margin: 0;
}


.texto-producto p{
    margin: 0 0 .5rem 0;
}

.texto-producto{
    text-align: center;
    color: white;
    padding: 2rem;
}       

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}
.texto-producto  a{
    color: white;
    font-weight: 900;
    background-color: #8cbc00;
    /*Abarca todo el ancho del contenedor*/
    display: block;
    text-transform: uppercase;
    padding: 1rem;
}

.texto-producto  a:hover{
    background-color: #769602;
    color: black;
    /* transform: scale(.9); */
    transition: background-color .3s ease;
}

.producto img{
    transition: background-color .3s ease;
}

.producto img:hover{
    /*Para que se haga la imagen un poco mas pequeña cuando se pasa el mouse*/
    transform: scale(.8);
}