
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1{
   color: #000;
}

/*Globales*/

a{
    text-decoration: none;    
    color: #000;
}

/*Header y navegacion*/
.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}
.nombre-sitio span{
    color: #037bc0;
}

.navegacion{
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;
    padding: 50px;

}



.pie-pagina p {
    font-weight: bold;
    font-family: fantasy;
}

/*Box model*/
.sobre-nosotros
{
    background-color: red;
    /*El ancho*/
    width: 200px;
    /*El relleno del model para que se tenga una separacion 
    padding agrega en todos los lados
    */
    padding:25px;
    margin-top: 100px;
    box-sizing: border-box;

}

/*Box model

    Cada elemento tiene un disply por default

    Display block: se colocara abajo del otro sin importar su tamaño

    Display in line: se colocan en linea vertical no se le peude aplicar whitd y paddi

    Display in line block :
*/


